:root {
    font-size: 62.5%
}

body {
    margin: 0;
    background: url('../images/chicago-skyline-engagement_0032.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: the-bold-font;
    src: url(../fonts/theboldfont/theboldfont.ttf)
}

title {
font-family: the-bold-font;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    height: 100%;
}

li a {
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    padding: 4rem;
    text-decoration: none;
    float: left;
    margin-bottom: 2rem;
    height: 100%;
    font-size: 1.4rem;
}

li {
    font-family: 'Merriweather', serif;

    display: inline;
}

nav a:hover {
    background-color: gray;
}

.pacsun  {
   margin-right: 4rem;
   margin-top: 2rem;

} 

.bullhead a {
    font-family: the-bold-font;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    
}

.denim a {
    font-family: the-bold-font;
    font-size: 1rem;
    color: white;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    position: absolute;
    left: 4rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-left: 2rem;
    position: relative;
    height: 9rem;
}

nav {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    background-color: #ffffff80;
    margin-left: 25rem;
    margin-top: 5rem;
    margin-right: 25rem;
    margin-bottom: 1rem;
    height: 80rem;
}

.the-first-division {
text-align: center;
margin-bottom: 3rem;
}

h1 {
    font-family: font-family: the-bold-font;
    font-size: 6rem; /* =40px */
    margin-top: 10rem;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;

}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

h4 {

    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    text-shadow: 7px 7px 7px black;
    
}

.links {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Merriweather', serif;
    
}
p {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

.box{
    border: .3rem solid black;
    padding-top:  .2rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;
    margin: 2rem;
}